@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#51d1f1;
   
}
ol{
  padding-left: 2em;
  padding-right: 2em;
  

}
li{
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: black;
    padding-bottom: 1em;
   

}
h2{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: black;
    font-weight: bold;
    padding: 1em;
}
#direita img{
    width: 70%;
    height: 60vh;
    border-radius: 2%;
}

/* RESPONSIVIDADE TELAS PEQUENAS */

@media screen and (min-width: 768px) and (max-width: 1025px){
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
    #direita img{
        width: 100%;
        height: 50vh;
    }
    li{
        font-size: 13px;
        
     }
     h2{
        font-size:20px;
     }
     
    #direita img{
        width: 50%;
        height: 43vh;
    }
   
   
}

/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (min-width: 280px) and (max-width: 480px) {
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
     li{
        font-size: 10px;
    
     }
     ol{
        font-size: 10px;
    
     }
     h2{
        font-size: 16px;
     }
     

    #direita img{
        width: 80%;
        height: 40vh;
    }
   
   
    

}