html {
    font-family: 'Nunito';
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boards {
    display: flex;
    border-color:#0096bb;
}

.board {
 
    border: 1px solid #0096bb;
    border-radius: 4px;
    margin: 0 16px;
    
}

.board h3 {
    padding: 10px;
    margin: 0;
    color:#0096bb;
}

.dropzone {
    padding-left: 4em;
    padding-right: 4em;
   
}
#quadrado{
    width: 100%;
    display: flex;
    
}
#direita{
    width: 50%;
    height: 80vh;
    flex-direction: column;

}
#esquerda{
    width: 50%;
    height: 80vh;
    flex-direction: column;
}

.card {
 
    padding: 10px;
    border: 1px solid #51d1f1;
    width: 100px;
    margin: 15px 0;
    border-radius: 4px;
    font-size: 15px;
}

p{
    font-size: 20px;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}
h1{
    font-size: 25px;
    text-align: center;
}

.highlight {
    background-color:#eefcff;
}

.card, .dropzone {
    transition: 400ms;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color:#eefcff;
}

img{
    width: 15px;
    height: 15px;
    display: none;
}
.esconde{
    display: block;
}