@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(180deg,#0096bb,#51d1f1);
    
}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: black;
    font-weight: bold;
}
#direita img{
    width: 90%;
    height: 60vh;
    border-radius: 2%;
}
p{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: black;
    padding:1.5em;

}
   
/* RESPONSIVIDADE TELAS PEQUENAS */
@media screen and (min-width: 768px) and (max-width: 1025px){
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
  
    p{
        font-size: 13px;
        
     }
     h1{
        font-size:20px;
     }
     
    #direita img{
        width: 60%;
        height: 48vh;
    }
   
   
}

/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (min-width: 280px) and (max-width: 480px) {
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
     p{
        font-size: 10px;
    
     }
     
     h1{
        font-size: 20px;
     }
     

    #direita img{
        width: 90%;
        height: 40vh;
    }
}