@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(180deg,#40bbda,#a9eeff );

}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
   
}
#direita img{
    width: 100%;
    height: 100vh;
}
p{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: black;
    padding:3em;
    line-height:30pt;

}

h2{
    font-size: 32px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
  

   
}

