html {
    font-family: 'Nunito';
}

#home {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
  
}

.boards {
    display: flex;
    border-color:#0096bb;
}

.board {
 
    border: 1px solid #0096bb;
    border-radius: 4px;
    margin: 0 14px;
    
}

.board h3 {
    padding: 10px;
    margin: 0;
    color:#0096bb;
}

.dropzone {
    padding-left: 2em;
    padding-right: 2em;
   
}
#quadrado{
    width: 100%;
    display: flex;
    
}
#direita{
    width: 50%;
    height: 75vh;
    flex-direction: column;

}
#esquerda{
    width: 50%;
    height: 75vh;
    flex-direction: column;
}

.card {
 
    padding: 10px;
    border: 1px solid #51d1f1;
    width: 100px;
    margin: 10px 0;
    border-radius: 4px;
    font-size: 15px;
    display: flex;
}

p{
    font-size: 20px;
    text-align: center;
    
}
h1{
    font-size: 25px;
    text-align: center;
}

.highlight {
    background-color:#eefcff;
}

.card, .dropzone {
    transition: 400ms;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color:#eefcff;
}
 

#footer p{
    padding-bottom: 1em;
    font-size: 15px;
}
#footer img{
    width: 30px;
    height:30px;

    padding-right:1em;
}
#footer{
    width: 100%;
    height: 20vh;
    background-color: #51d1f1;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    

}

.card img{
    width: 15px;
    height: 15px;
    display: none;
    
}
#check img{
    display: block;
}




/* RESPONSIVIDADE TELAS PEQUENAS */
@media screen and (min-width: 768px) and (max-width: 1025px){
    #home{
        scale: 0.9;
    
    }



}
/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (min-width: 280px) and (max-width: 480px) {
    #home{
        scale: 0.6;
    
    }
}