@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(180deg,#40bbda,#a9eeff );

}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
   
}
#direita img{
    width: 100%;
    height: 100vh;
}
p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: black;
    padding-left:1.5em;
    padding-right:1.5em;
    line-height:25pt;
    padding-top: 1em;

}

h2{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
    padding-top: 1em;
  

   
}

/* RESPONSIVIDADE TELAS PEQUENAS */
@media screen and (min-width: 768px) and (max-width: 1023px){
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
    #direita img{
        width: 100%;
        height: 50vh;
    }
    p{
        font-size: 13px;
    
        
     }
     h2{
        font-size:20px;

     }
     
    #direita img{
        width: 100%;
        height: 50vh;
    }
   
   
}

/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (min-width: 280px) and (max-width: 480px) {
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
     p{
        font-size: 10px;
        line-height:15pt;
    
     }
     
     h2{
        font-size: 15px;

     }
     

    #direita img{
        width: 100%;
        height: 50vh;
    }
}