@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height: 100vh;
    display: flex;
}
#esquerda{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#51d1f1;
}
#direita{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: black;
    padding:1em;

}
#direita img{
    width: 100%;
    height: 100vh;
    border-radius: 2%;
}
h1{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color:black;
    font-weight: bold;
 
}

/* RESPONSIVIDADE TELAS PEQUENAS */
@media screen and (min-width: 600px) and (max-width: 900px){
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
    #direita img{
        width: 100%;
        height: 50vh;
    }
    p{
        font-size: 18px;

        
     }
     h1{
        font-size: 25px;
        
       }
   
}

/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (min-width: 280px) and (max-width: 580px) {
    #home{
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
        height: 50vh;
        
    }
    #direita{
        width: 100%;
        height: 50vh;
    }
     p{
        font-size: 12px;
    
     }
     

    #direita img{
        width: 100%;
        height: 50vh;
    }
   h1{
    font-size: 18px;
    
   }
    

}